h1{
    text-align: center;
}
.slide-background-content{
    background-image: url("images/fnd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    text-align: center;
}

#title-slide h1.title {
  font-size: 1.6em !important;
}