h1{
    text-align: center;
}
.slide-background-content{
    background-image: url("images/fnd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    text-align: center;
}

#title-slide h1.title {
  font-size: 1.6em !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
